<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Media</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            font-family: 'Noto Sans', sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 30px;
            width: 100%;
            max-width: 600px;
            box-sizing: border-box;
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-top: 10px;
            color: #555;
        }

        input[type="text"],
        input[type="number"],
        input[type="file"] {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            width: calc(100% - 20px);
            box-sizing: border-box;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        .switch-container {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .switch-label {
            margin-left: 5px;
            color: #666;
        }

        .input-group {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .button-40 {
            background-color: #ca98da;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
            font-size: 14px;
        }

        .button-40:hover {
            background-color: #a783b8;
        }

        .material-symbols-outlined {
            font-family: 'Material Symbols Outlined', sans-serif;
            cursor: pointer;
            font-size: 24px;
            margin-left: 10px;
            color: #555;
        }

        .material-icons {
            font-size: 24px;
            vertical-align: middle;
            margin-right: 5px;
        }

        .volver-button {
            display: inline-block;
            margin-top: 15px;
            color: #555;
            text-decoration: none;
            font-size: 16px;
            align-self: flex-start;
        }

        .volver-button:hover {
            text-decoration: underline;
        }

        @media (max-width: 600px) {
            .container {
                padding: 20px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar Media</h1>
        <form action="/admin/media/{{media.id}}/update" method="post" enctype="multipart/form-data">
            <input type="hidden" name="integranteId" value="{{media.integranteId}}">
            <input type="hidden" name="tiposmediaId" value="{{media.tiposmediaId}}">
            <input type="hidden" name="id" value="{{media.id}}">

            <div class="switch-container">
                <label class="switch">
                    <input type="checkbox" id="activo" name="activo" {{#if media.activo}}checked{{/if}}>
                    <span class="slider round"></span>
                </label>
                <span class="switch-label">Activo</span>
            </div>

            <label for="integranteId">Integrante:</label>
            <input type="text" id="integranteId" name="integranteId" value="{{media.integranteId}}" disabled>

            <label for="tiposmediaId">Tipo de Media:</label>
            <input type="text" id="tiposmediaId" name="tiposmediaId" value="{{media.tiposmediaId}}" disabled>

            {{#if media.url}}
            <div id="urlLabel">
                <label for="url">URL:</label>
            </div>
            <div id="urlInput">
                <input type="text" id="url" name="url" value="{{media.url}}">
            </div>
            {{/if}}

            {{#if media.nombrearchivo}}
            <div id="filenameInput">
                <label for="nombrearchivo">Nombre del Archivo:</label>
                <div class="input-group">
                    <input type="text" id="nombrearchivo" name="nombrearchivo" value="{{media.nombrearchivo}}">
                    <input type="file" id="file" name="file" style="display: none;">
                    <span class="material-symbols-outlined button-icon" onclick="document.getElementById('file').click();">open_in_new</span>
                </div>
            </div>
            {{/if}}

            <label for="orden">Orden:</label>
            <input type="number" id="orden" name="orden" value="{{media.orden}}" disabled>

            <button type="submit" class="button-40">Actualizar</button>
        </form>

        <a href="/admin/media/listar" class="volver-button"> 
            <span class="material-icons">arrow_back</span>
            Volver
        </a>
    </div>

    {{#if flashMessages.error}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.success}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            title: 'Éxito',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    <script>
    document.getElementById('file').addEventListener('change', function() {
        var fileName = this.files[0].name;
        document.getElementById('nombrearchivo').value = fileName;
    });
    </script>
</body>
</html>
