<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Lato', sans-serif;
            background: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
        
        .login-wrap {
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            margin-bottom: 20px;
        }

        .login-wrap .icon {
            font-size: 40px;
            color: #40055d;
            margin-bottom: 20px;
            text-align: center;
        }

        .login-wrap h3 {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 400;
            text-align: center;
            color: #40055d;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            height: 50px;
            background: #e9ecef;
            border: none;
            padding-left: 20px;
            font-size: 16px;
        }

        .btn {
            height: 50px;
            background: #5e056b;
            border: none;
            width: 100%;
            font-size: 16px;
            border-radius: 5px;
        }

        .btn:hover {
            background: #9a60a4;
        }

        .checkbox-wrap {
            display: flex;
            align-items: center;
        }

        .checkbox-wrap input[type="checkbox"] {
            margin-right: 10px;
        }

        .text-md-center {
            text-align: center !important;
            margin-bottom: 20px;
        }

        .text-md-center a {
            color: #534957;
            text-decoration: none;
        }

        .text-md-center a:hover {
            text-decoration: underline;
        }
        
        .volver-button {
            background-color: #5e056b;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border: none;
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .volver-button:hover {
            background-color: #9036b1;
            color: white; /* Asegura que el color del texto no cambie */
            text-decoration: none; /* Elimina la subrayado */
        }

        .material-icons {
            margin-right: 8px; /* Space between icon and text */
        }
    </style>
</head>
<body>
    <div class="login-wrap p-4 p-md-5">
        <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
        </div>
        <h3 class="heading-section">Iniciar sesión</h3>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" id="email" name="email" class="form-control rounded-left" placeholder="Email" required>
            </div>
            <div class="form-group d-flex">
                <input type="password" id="password" name="password" class="form-control rounded-left" placeholder="Contraseña" required>
            </div>
            <div class="text-md-center">
                <a href="#" data-toggle="modal" data-target="#forgotPasswordModal">Olvidé mi contraseña</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Iniciar sesión</button>
            </div>
        </form>
    </div>
    {{#if flashMessages.error}}
    <script>
        Swal.fire({
            title: 'Error',
            text: '{{flashMessages.error}}',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}

    {{#if flashMessages.success}}
    <script>
        Swal.fire({
            title: 'Success',
            text: '{{flashMessages.success}}',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    {{/if}}
    <a href="/admin" class="volver-button">
        <span class="material-icons">arrow_back</span>
        Volver
    </a>

    <!-- Modal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h5 class="modal-title" id="forgotPasswordModalLabel">¿Te olvidaste piko de tu contraseña?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="forgotPasswordForm" action="/forgot-password" method="post">
                        <div class="form-group">
                            <label for="forgotPasswordEmail">Puedes solicitar un cambio de contraseña a través de tu dirección de correo electrónico</label>
                            <input type="email" class="form-control" id="forgotPasswordEmail" name="email" placeholder="Inserta aqui tu email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
